/* Mobile First */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Poppins:ital@1&display=swap');

:root {
  --brown: rgb(193, 154, 107);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Comfortaa', cursive;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.chessboard {
  width: 95vw;
  grid-template-rows: repeat(8, calc(95vw / 8));
  grid-template-columns: repeat(8, calc(95vw / 8));
  display: grid;
  border: 5px solid var(--brown);
}

.square {
  width: calc(95vw / 8);
  height: calc(95vw / 8);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.square:hover {
  filter: opacity(0.5);
  cursor: pointer;
}

.white {
  background-color: white;
}

.black {
  background-color: var(--brown);
}

.square.can-move {
  background-color: rgba(9, 255, 0, 0.329);
}

.square.selected {
  border: 4px solid gold;
}

.square.eatable {
  background-color: rgb(218, 43, 30)(9, 255, 0, 0.329);
}

/* xvw - yvw = 15 */
.square img {
  width: calc(70vw / 8);
}

footer {
  display: flex;
}

footer {
  width: 100vw;
  height: 40px;
  bottom: 0;
  position: fixed;
  z-index: 999;
  text-align: center;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  color: white;
}

footer a {
  text-decoration: none;
  color: gold;
}

@media (min-width: 576px) {
  .chessboard {
    width: 80vw;
    grid-template-rows: repeat(8, calc(80vw / 8));
    grid-template-columns: repeat(8, calc(80vw / 8));
  }

  .square {
    width: calc(80vw / 8);
    height: calc(80vw / 8);
  }

  .square img {
    width: calc(50vw / 8);
  }
}

@media (min-width: 800px) {
  .chessboard {
    width: 700px;
    grid-template-rows: repeat(8, calc(700px / 8));
    grid-template-columns: repeat(8, calc(700px / 8));
  }

  .square {
    width: calc(700px / 8);
    height: calc(700px / 8);
  }

  .square img {
    width: calc(450px / 8);
  }
}