/* Mobile First */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

:root {
  --brown: rgb(193, 154, 107);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Raleway', sans-serif;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.player__container {
  width: 100%;
  font-size: 12px;
}

.player1 .data__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player1 .image_name {
  flex-direction: row-reverse;
}

.player1 .timer {
  margin: 0px 0px 0px 20px;
}

.player1 .eaten_pieces {
  display: flex;
  flex-direction: row-reverse;
  margin: 0px 12px 0px 0px;
  height: 23px;
}

.player2 .data__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player2 .timer {
  margin: 0px 20px 0px 0px;
}

.player2 .eaten_pieces {
  display: flex;
  margin: 0px 0px 0px 12px;
  height: 23px;
}

.image_name {
  display: flex;
  align-items: center;
}

.timer {
  background-color: grey;
  height: 30px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  color: white;
}

.chessboard {
  width: 95vw;
  grid-template-rows: repeat(8, calc(95vw / 8));
  grid-template-columns: repeat(8, calc(95vw / 8));
  display: grid;
  border: 5px solid var(--brown);
}

.square {
  width: calc(95vw / 8);
  height: calc(95vw / 8);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.square:hover {
  filter: opacity(0.5);
  cursor: pointer;
}

.square.white {
  background-color: white;
}

.square.black {
  background-color: var(--brown);
}

.square.can-move {
  background-color: rgba(9, 255, 0, 0.329);
}

.square.selected {
  border: 4px solid gold;
}

.square.eatable {
  background-color: rgb(218, 43, 30);
}

.square img {
  /* xvw - yvw = 15 */
  width: calc(70vw / 8);
}

.final.active {
  display: flex;
}

.final {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
  background-color: #262421;
  width: 300px;
  border-radius: 15px;
  flex-direction: column;
}

.final__title {
  padding: 20px;
  background-color: rgba(0, 0, 0, .2);
  border-radius: 15px;
  
}

.final__button {
  padding: 25px;
}

.final__button button {
  color: white;
  background-color: rgb(80, 200, 120);
  padding: 20px;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}

.final__button button:hover {
  cursor: pointer;
  background-color: rgba(80, 200, 120, 0.75);
  transform: scale(0.98);
}

footer {
  width: 100vw;
  height: 40px;
  bottom: 0;
  position: fixed;
  z-index: 999;
  text-align: center;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  color: white;
}

footer a {
  text-decoration: none;
  color: gold;
}

@media (min-width: 576px) {
  .chessboard {
    width: 80vw;
    grid-template-rows: repeat(8, calc(80vw / 8));
    grid-template-columns: repeat(8, calc(80vw / 8));
  }

  .square {
    width: calc(80vw / 8);
    height: calc(80vw / 8);
  }

  .square img {
    width: calc(50vw / 8);
  }
}

@media (min-width: 800px) {
  .chessboard {
    width: 700px;
    grid-template-rows: repeat(8, calc(700px / 8));
    grid-template-columns: repeat(8, calc(700px / 8));
  }

  .square {
    width: calc(700px / 8);
    height: calc(700px / 8);
  }

  .square img {
    width: calc(450px / 8);
  }
}